* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	background-color: #1E1E1E;
	color: #EDEDED;
}

.hide {
  height: 0!important;
}

/* header */

header {
	padding: 40vh 0 0 30vh;
  display: flex;
  margin: 0 auto;
}

header > button.clickable {
  background-color: #1E1E1E;
  color: #EDEDED;
  display: grid;
  padding: 2vh;
}

header > button.clickable:hover {
  background-color: #313131;
  cursor: pointer;
  border-radius: 0.75vh;
}

header > button.clickable:focus {
  background-color: #313131;
  cursor: pointer;
  border-radius: 0.75vh;
  outline: none;
}

header > button.clickable > span.subtitle {
  padding-top: 2vh;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
}

.logo {
	width: 14vh;
	height: 14vh;
	position: relative;
	display: block;
	float: left;
	border: 1vh solid #EDEDED;
}

.logo.hex > div {
	width: 25%;
	height: 25%;
	float: left;
}

.logo.hex > .solid {
	background-color: #EDEDED;
}

.logo.hex > .transparent {
	background-color: #1E1E1E;
}

.logo.ascii {
	font-family: 'Fredoka One', cursive;
	border-radius: 50%;
	font-size: 7vh;
	line-height: 14vh;
	text-align: center;
}

/* footer */

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

footer > button {
  float: right;
  margin: 0 1vh 0 0;
  background-color: inherit;
  color: inherit;
  text-decoration: underline;
  border-top-left-radius: 0.75vh;
  border-top-right-radius: 0.75vh;
  font-size: 1em;
  padding: 1vh 1.75vh 1.75vh 1.75vh;
  font-family: 'Space Mono', monospace;
}

footer > button:hover {
  cursor: pointer;
  background-color: #313131;
  cursor: pointer;
}

footer > button:focus {
  background-color: #313131;
  outline: none;
}

footer > button.active {
  cursor: pointer;
  background-color: #424242;
  cursor: pointer;
}

footer > button.first {
  margin-right: 3vh;
}

footer > span.random {
  float: left;
  font-size: 1em;
  position: absolute;
  bottom: 1.5vh;
}

footer > .content {
  height: 20vh;
  transition: height 1s;
  background-color: #424242;
  display: block;
  top: 4vh;
  position: relative;
  border-top-left-radius: 0.75vh;
  border-top-right-radius: 0.75vh;
  font-family: 'Space Mono', monospace;
}
